.bgnext{
 background: #3fac29 !important;
}
.bgnext:hover{
 background: #4fbd40 !important;
}
.colornext{
color:#ffffff !important;
}
.radiusnext{
 border-radius: 25px !important;
}
.paddingnext{
 padding: 4px !important;
}
.bgback{
 background-color: #ffffff !important;
}
.bgback:hover{
 background:#edebeb !important;
}
.colorback{
 color: #101010 !important;
}
.radiusback{
 border-radius: 25px !important;
}
